@{
    ViewData["Title"] = "О программе";
}
<h1>@ViewData["Title"]</h1>

<p>
    Выполенние практической работы №1 по дисциплине "Технологии и инструменты машинного обучения" <br />
    Цель работы<br />
    Изучить возможности и освоить практические навыки применения инструментов компьютерного зрения для построения информационных систем.

</p>
